body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Background for Home Page */
  .hero-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: url("c:\\Users\\joe41\\Downloads\\pexels-erik-mclean-7809123.jpg") center/cover no-repeat;
  }
  
  header {
    background-color: #00204a;
    color: #fff;
    padding: 20px;
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  header nav li {
    margin: 0 15px;
  }
  
  header nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  .centered-container {
    text-align: center;
  }
  
  .main-title {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .heroes-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  
  .tag {
    width: 250px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .tag-img {
    width: 100%;
    border-radius: 10px;
  }
  
  .tag-title {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .info-section {
    margin-top: 50px;
  }
  
  .info-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .contact-section {
    margin-top: 50px;
  }
  
  .contact-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }