body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fdc.fandom.com%2Fwiki%2FHall_of_Justice&psig=AOvVaw010YQiEoBPHuTu2m9Oyp3V&ust=1690052542497000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCKjwm72-oIADFQAAAAAdAAAAABAI") center/cover no-repeat;
  }
  
  header {
    background-color: gold;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-family: "Times New Roman", Times, serif;
  }
  
  header .comic-title {
    margin: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 48px;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  main {
    padding: 20px;
  }
  
  #home {
    background-color: #00204a;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .centered-container {
    text-align: center;
  }
  
  .main-title {
    color: #fff;
    font-size: 60px;
    margin-bottom: 30px;
  }
  
  .start-button {
    background-color: #fff;
    color: #00204a;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }